<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de permisos</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <div id="admin-dash">
    <%- include('../partials/_leftbar') %>
  
    <main id="main-admin">
      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/permit/">
            <small>Permisos</small>
          </a>
          <span class="breadcrumb-slash">/</span>
        </section>
      </header>

      <section id="tasks-filter" style="margin-top: 20px;">
        <form action="/backoffice/permit/" method="get">
          <input type="month" name="filter" class="input" required>
          <button type="submit" class="button primary">Filtro</button>
        </form>
      </section>

      <section id="client-list" style="margin-top: 40px;">
        <% if (pendingPermits.length > 0) { %>
          <h2>Permisos Pendientes</h2>
          <div class="card-container">
            <% pendingPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small> <strong>Pedido el:</strong> <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small><strong>Estado:</strong> Pendiente</small>
                <div style="width: 100%; display: flex; gap: 4px; ">
                  <button type="submit" name="action" value="accept" class="button primary" onclick="window.location.href='/backoffice/permit/<%= permit.id %>/accept'">Aceptar</button>
                   <button type="submit" name="action" value="reject" class="button danger" onclick="window.location.href='/backoffice/permit/<%= permit.id %>/reject'">Rechazar</button>

                   <form action="/backoffice/permit/<%= permit.id %>/delete?_method=DELETE" method="post" class="delete-form" style="margin-left: auto;">
                    <input type="text" value="<%= permit.id %>" name="id" hidden>
                    <button class="button error" type="submit" style="width: 40px;">
                      <img src="/images/icons/delete.png" width="20px" height="20px" alt="users-logo">
                    </button>
                  </form>
                </div>
              </div>
            <% }) %>
          </div>
        <% } %>

        <% if (approvedPermits.length > 0) { %>
          <h2>Permisos Aprobados</h2>
          <div class="card-container">
            <% approvedPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small><strong>Razón:</strong> <%= permit.reason %></small>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small><strong>Aprobado por:</strong> <%= permit.decitionTakenBy.firstName %> <%= permit.decitionTakenBy.lastName %> </small>
                <small> <strong>Pedido el:</strong> <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small> <strong>Aprobado el:</strong> <%= new Date(permit.decitionTakenAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %> </small>
                <small><strong>Estado:</strong> Aprobado</small>
                <small><strong>Comentarios:</strong> <%= permit.adminComment %> </small>
                <form action="/backoffice/permit/<%= permit.id %>/delete?_method=DELETE" method="post" class="delete-form" style="margin-left: auto;">
                    <input type="text" value="<%= permit.id %>" name="id" hidden>
                    <button class="button error" type="submit" style="width: 40px;">
                      <img src="/images/icons/delete.png" width="20px" height="20px" alt="users-logo">
                    </button>
                  </form>
              </div>
            <% }) %>
          </div>
        <% } %>

        <% if (rejectedPermits.length > 0) { %>
          <h2>Permisos Rechazados</h2>
          <div class="card-container">
            <% rejectedPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small>Razón: </strong> <%= permit.reason %></small>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small><strong>Rechazado por:</strong> <%= permit.decitionTakenBy.firstName %> <%= permit.decitionTakenBy.lastName %> </small>
                <small> <strong>Pedido el:</strong> <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small> <strong>Rechazado el:</strong> <%= new Date(permit.decitionTakenAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %> </small>
                <small><strong>Estado:</strong> Rechazado</small>
                <small><strong>Comentarios:</strong> <%= permit.adminComment %> </small>
                <form action="/backoffice/permit/<%= permit.id %>/delete?_method=DELETE" method="post" class="delete-form" style="margin-left: auto;">
                    <input type="text" value="<%= permit.id %>" name="id" hidden>
                    <button class="button error" type="submit" style="width: 40px;">
                      <img src="/images/icons/delete.png" width="20px" height="20px" alt="users-logo">
                    </button>
                </form>
              </div>
            <% }) %>
          </div>
        <% } %>
      </section>
    </main>
  </div>


  <script>
    const deleteForms = document.querySelectorAll('.delete-form');

    deleteForms.forEach(form => {
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        swal({
          title: '¿Estás seguro?',
          text: 'Estás a punto de eliminar este permiso. Esta acción no puede deshacerse.',
          buttons: true,
          dangerMode: true,
        }).then((accepted) => {
          if (accepted) {
            form.submit();
          }
        });
      });
    });
  </script>

</body>
</html>

