<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis permisos</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">
    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">
      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/permit/">
            <small>Permisos</small>
          </a>
          <span class="breadcrumb-slash">/</span>
        </section>
      </header>

      <section id="tasks-filter" style="margin-top: 20px;">
        <form action="/backoffice/permit/" method="get">
          <input type="month" name="filter" class="input" required>
          <button type="submit" class="button primary">Filtro</button>
        </form>
      </section>

      <section id="client-list" style="margin-top: 40px;">
        <% if (pendingPermits.length > 0) { %>
          <h2>Permisos Pendientes</h2>
          <div class="card-container">
            <% pendingPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small>Razón: <%= permit.reason %></small>
                <small>Pedido el: <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small>Estado: Pendiente</small>
                
                <!-- Form for Accept/Reject Buttons -->
                <form action="/backoffice/permit/decide" method="post" style="margin-top: 10px;">
                  <input type="hidden" name="permitId" value="<%= permit.id %>">
                  
                  <!-- Accept Button -->
                  <button type="submit" name="action" value="accept" class="button primary">Aceptar</button>
                  
                  <!-- Reject Button -->
                  <button type="submit" name="action" value="reject" class="button danger">Rechazar</button>
                </form>
              </div>
            <% }) %>
          </div>
        <% } %>

        <% if (approvedPermits.length > 0) { %>
          <h2>Permisos Aprobados</h2>
          <div class="card-container">
            <% approvedPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small>Razón: <%= permit.reason %></small>
                <small>Pedido el: <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small>Aprobado el: <%= new Date(permit.decitionTakenAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %> </small>
                <small>Estado: Aprobado</small>
              </div>
            <% }) %>
          </div>
        <% } %>

        <% if (rejectedPermits.length > 0) { %>
          <h2>Permisos Rechazados</h2>
          <div class="card-container">
            <% rejectedPermits.forEach(permit => { %>
              <div class="permit-card">
                <h3>
                  <% if (permit.type === 'vacation-permit') { %>
                    Permiso de Vacaciones
                  <% } else if (permit.type === 'sick-permit') { %>
                    Permiso por Enfermedad
                  <% } else if (permit.type === 'personal-permit') { %>
                    Permiso Personal
                  <% } else { %>
                    Tipo de Permiso Desconocido
                  <% } %>
                </h3>
                <small><strong>Empleado:</strong> <%= permit.user.firstName %> <%= permit.user.lastName %></small>
                <small>Razón: <%= permit.reason %></small>
                <small>Fecha: <%= new Date(permit.createdAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                <small>Estado: Rechazado</small>
                <small>Rechazado el: <%= new Date(permit.decitionTakenAt).toLocaleDateString("es-MX", { day: '2-digit', month: '2-digit', year: 'numeric' }) %> </small>
                <small>Comentarios: <%= permit.adminComment %> </small>
              </div>
            <% }) %>
          </div>
        <% } %>
      </section>
    </main>
  </div>
</body>
</html>
