<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encuestas</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="answer" style="margin-bottom: 10px;">
    <form id="survey-content" action="/backoffice/survey/<%= id %>/answer" method="post">
      <input type="text" hidden value="<%= id %>" name="id" id="answerId">
      <input type="text" hidden value="<%= survey.id %>" name="surveyId" id="surveyId">
      <div id="survey-desc">
        <img src="/images/logo.png" alt="Logo dimedical corporativo" id="logo-survey">
        <h2><%= survey.title %></h2>
        <small><%= survey.description %></small>
      </div>
      <% for(let i = 0; i < survey.questions.length; i++) { %>
        <div class="survey-question border">
          <input type="text" name="answers[<%= i %>][questionId]" value="<%= survey.questions[i].id  %>" hidden>

          <p><%= survey.questions[i].text %></p>
          <% if(survey.questions[i].type == 'multiple') { %>
            <%  for(let j = 0; j < survey.questions[i].options.length; j++) { %>
              <% const currentOption = survey.questions[i].options[j]; %>
              <div class="answer-option">
                <input type="radio" name="answers[<%= i %>][optionId]" value="<%= currentOption.id %>"/ required class="input">
                
                <label for="answers[<%= i %>][option][optionId]"><%= currentOption.value %></label>
              </div>
              <% } %>
          <% } else {%>
            <input type="text" class="input" name="answers[<%= i %>][answerText]" placeholder="Ingresa tu respuesta" required>
          <% }%>
        </div/>
      <% } %>
      <button class="button primary" id="send-answer">Enviar respuesta</button>
    </form>
  </div>
</body>
</html>
