<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seguimiento de ruta</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="report">
    <main id="report-main">
      <section id="report-results">
        <div class="report-result-detail">
          <% 
              let date = new Date(report.scheduleDate);
              let options = { day: '2-digit', month: '2-digit', year: 'numeric' };
              let formattedDate = date.toLocaleDateString('es-MX', options);
            %>
            
            <small> Fecha de inicio: <%= formattedDate %> </small>

            <small> Sucursal: <%= report.sucursal.name %></small>
        </div>
        <div class="report-result-detail">
          <small>Puntos totales:</small>
          <p style="font-size: 20px;"><%= report.totalPoints %></p>
        </div>
        <div class="report-result-detail">
          <small>Puntos exitosos:</small>
          <p style="font-size: 20px;"><%= report.totalSuccededPoints %></p>
        </div>
        <div class="report-result-detail">
          <small>Puntos fallidos:</small>
          <p style="font-size: 20px;"><%= report.totalFailedPoints %></p>
        </div>
      </section>
      <section id="report-tables">
        <h2>Puntos completados con errores: </h2>
        <table class="table">
          <thead>
              <tr>
                <th>Cliente</th>
                <th>Responsable</th>
                <th>Facturas</th>
                <th>Certificado</th>
                <th>Ssa</th>
                <th>Tipo</th>
                <th>Observaciones</th>
                <th>Comentario operador</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < report.failedPoints.length; i++) { %>
              <% const point = report.failedPoints[i] %>
              <tr>
                <td><%= point.client.name %></td>
                <td><%= point.userAssigned.firstName %></td>
                <td>
                  <% point.invoice.forEach(invoice => {%>
                    <%= invoice.number %>
                  <% } )%>
                </td>
                <td><%= point.certificate %></td>
                <td><%= point.ssa %></td>
                <td>
                  <% if(point.type === 'point-route') {%>
                    Ruta
                  <% } else if(point.type === 'point-parcel') {%>
                    Paqueteria
                  <% } else {%>
                     Recoleccion
                  <% } %>
                </td>
                <td><%= point.observation %></td>
                <td><%= point.comment %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
        <h2>Puntos completados con exito: </h2>
        <table class="table">
          <thead>
              <tr>
                <th>Cliente</th>
                <th>Responsable</th>
                <th>Facturas</th>
                <th>Certificado</th>
                <th>Ssa</th>
                <th>Tipo</th>
                <th>Observaciones</th>
                <th>Comentario operador</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < report.succededPoints.length; i++) { %>
              <% const pointS = report.succededPoints[i] %>
              <tr>
                <td><%= pointS.client.name %></td>
                <td><%= pointS.userAssigned.firstName %></td>
                <td>
                  <% pointS.invoice.forEach(invoice => {%>
                    <%= invoice.number %>
                  <% } )%>
                </td>
                <td><%= pointS.certificate %></td>
                <td><%= pointS.ssa %></td>
                <td>
                  <% if(pointS.type === 'point-route') {%>
                    Ruta
                  <% } else if(pointS.type === 'point-parcel') {%>
                    Paqueteria
                  <% } else {%>
                     Recoleccion
                  <% } %>
                </td>
                <td><%= pointS.observation %></td>
                <td><%= pointS.comment %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</body>
</html>
