<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte general de itinerarios</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>

      <main id="main-admin">

        <header class="section-header">
          <section class="breadcrumb">
            <a href="/backoffice/analytics">
              <small>Analiticas</small>
            </a>
            <span class="breadcrumb-slash">/</span>
          </section>
        </header>

        <section id="analytics" style="margin-bottom: 5px;">
          <div class="analytics-title">
            <h3>Reporte general de tareas desde <%= new Date(from).toLocaleDateString('es-MX') %> hasta <%= new Date(to).toLocaleDateString('es-MX') %></h3>
          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            <div class="analytics-data" style="width: 250px; height: 130px;">
              <div class="analytics-data-title">
                <p>Tareas asignadas</p>
              </div>

              <div class="analytics-data-number">
                <%= report.asignedCount %>
              </div>
            </div>

            <div class="analytics-data" style="width: 250px; height: 130px;">
              <div class="analytics-data-title">
                <p>Tareas en progreso</p>
              </div>

              <div class="analytics-data-number">
                <%= report.inProgressCount %>
              </div>
            </div>

            <div class="analytics-data" style="width: 250px; height: 130px;">
              <div class="analytics-data-title">
                <p>Tareas concluidas</p>
              </div>

              <div class="analytics-data-number">
                <%= report.finishedCount %>
              </div>
            </div>

            <div class="analytics-data" style="width: 250px; height: 130px;">
              <div class="analytics-data-title">
                <p>Tareas a destiempo</p>
              </div>

              <div class="analytics-data-number">
                <%= report.dueCount %>
              </div>
            </div>

          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            <div class="analytics-data" style="width: 25%; height: 350px; gap: 0;">
              <div style="width: 100%; height: 30px; background-color: #f8a900; padding: 5px;">
                <p style="font-size: 13px;">Top 10 personal con mas tareas concluidas</p>
              </div>
    
              <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                  <tr style="background-color: #E9ECEF; border-bottom: 2px solid #E9ECEF;">
                    <th style="padding: 8px; width: 70%; font-size: 12px;">Nombre</th>
                    <th style="padding: 8px; width: 30%; font-size: 12px;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < report.topTenMostTasks.length; i++) { %>
                    <tr style="border-bottom: 1px solid #ccc;">
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenMostTasks[i].fullName %> </td>
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenMostTasks[i].total  %> </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
  
            <div class="analytics-data" style="width: 25%; height: 350px; gap: 0;">
              <div style="width: 100%; height: 30px; background-color: #f8a900; padding: 5px;">
                <p style="font-size: 13px;">Top 10 personal con menos tareas concluidas</p>
              </div>
    
              <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                  <tr style="background-color: #E9ECEF; border-bottom: 2px solid #E9ECEF;">
                    <th style="padding: 8px; width: 70%; font-size: 12px;">Nombre</th>
                    <th style="padding: 8px; width: 30%; font-size: 12px;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < report.topTenLeastTasks.length; i++) { %>
                    <tr style="border-bottom: 1px solid #ccc;">
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenLeastTasks[i].fullName %> </td>
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenLeastTasks[i].total %> </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div class="analytics-data" style="width: 25%; height: 35t 0px; gap: 0;">
              <div style="width: 100%; height: 30px; background-color: #f8a900; padding: 5px;">
                <p style="font-size: 13px;">Top 10 personal con mas tareas vencidas</p>
              </div>
    
              <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                  <tr style="background-color: #E9ECEF; border-bottom: 2px solid #E9ECEF;">
                    <th style="padding: 8px; width: 70%; font-size: 12px;">Nombre</th>
                    <th style="padding: 8px; width: 30%; font-size: 12px;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < report.topTenMostDueTasks.length; i++) { %>
                    <tr style="border-bottom: 1px solid #ccc;">
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenMostDueTasks[i].fullName %> </td>
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topTenMostDueTasks[i].total %> </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            <div class="analytics-data" style="width: 25%; height: 300px; gap: 0;">
              <div style="width: 100%; height: 30px; background-color: #f8a900; padding: 5px;">
                <p style="font-size: 13px;">Top 5 departamentos por tareas concluidas</p>
              </div>
    
              <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                  <tr style="background-color: #E9ECEF; border-bottom: 2px solid #E9ECEF;">
                    <th style="padding: 8px; width: 70%; font-size: 12px;">Nombre</th>
                    <th style="padding: 8px; width: 30%; font-size: 12px;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < report.topFivDepartmentsTasks.length; i++) { %>
                    <tr style="border-bottom: 1px solid #ccc;">
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topFivDepartmentsTasks[i].fullName %> </td>
                      <td style="padding: 8px; font-size: 10px;"> <%= report.topFivDepartmentsTasks[i].total  %> </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

          </div>
        </section>
      </main>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
