<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>

      <main id="main-admin">

        <header class="section-header">
          <section class="breadcrumb">
            <a href="/backoffice/analytics">
              <small>Analiticas</small>
            </a>
            <span class="breadcrumb-slash">/</span>
          </section>
        </header>

        <section id="analytics">
          <div class="analytics-title">
            <h3>Reporte general de usuario desde <%= new Date(from).toLocaleDateString('es-MX') %> hasta <%= new Date(to).toLocaleDateString('es-MX') %></h3>
          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            
            <div class="analytics-data" style="width: 300px; height: 140px; gap: 0; align-items: flex-start;">
              <div class="analytics-data-title">
                <p>Info del usuario</p>
              </div>

              <h3 style="margin-left: 10px; margin-top: 10px;">Kevin Tapia</h3>
              <h3 style="margin-left: 10px; margin-top: 3px;">Trabajo</h3>
            </div>

            <div class="analytics-data" style="width: 300px; height: 140px;">
              <div class="analytics-data-title">
                <p>Faltas</p>
              </div>

              <div class="analytics-data-number">
                <%= report.absenceCount %>
              </div>
            </div>

            <div class="analytics-data" style="width: 300px; height: 140px;">
              <div class="analytics-data-title">
                <p>Retardos</p>
              </div>

              <div class="analytics-data-number">
                <%= report.delayCount %>
              </div>
            </div>

          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            
           <div class="analytics-data" style="width: 50%; height: 350px;">
            <canvas id="issue_grouped_line_data" style="width: 90%; height: 90%;"></canvas>
           </div>

           <div class="analytics-data" style="width: 22%; height: 350px;">
            <canvas id="justification_pie_data" style="width: 90%; height: 90%;"></canvas>
           </div>

           <div class="analytics-data" style="width: 22%; height: 350px;">
            <canvas id="issue_type_pie_data" style="width: 90%; height: 90%;"></canvas>
           </div>


          </div>

          <div class="analytics-row" style="margin-top: 20px;">
            <div class="analytics-data" style="width: 30%; height: 350px;">
              <canvas id="permit_type_canvas" style="width: 90%; height: 90%;"></canvas>
             </div>
             <div class="analytics-data" style="width: 30%; height: 350 px;">
              <canvas id="permit_status_canvas" style="width: 90%; height: 90%;"></canvas>
            </div>
          </div>

        </section>
      </main>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let justification_pie_data_formatted = <%- JSON.stringify(justificationFormatedPieChartDat) %>;

  let issue_pie_data_formatted = <%- JSON.stringify(typeIssueFormatedPieChart) %>

  let issue_grouped_line_data_formatted = <%- JSON.stringify(groupedAssitenceIssuesCount) %>

  let permit_type_pie_data_formatted = <%- JSON.stringify(permitTypePieFormatted) %>

  let permit_status_pie_data_formatted = <%- JSON.stringify(permitStatusPieFormatted) %>

  // canvas
  const justification_pie_data = document.getElementById('justification_pie_data');

  const issue_grouped_line_data = document.getElementById('issue_grouped_line_data');

  const issue_type_pie_data = document.getElementById('issue_type_pie_data');

  const permit_type_canvas = document.getElementById('permit_type_canvas');

  const permit_status_canvas = document.getElementById('permit_status_canvas');


  // charts
  new Chart(issue_type_pie_data, issue_pie_data_formatted);

  new Chart(justification_pie_data, justification_pie_data_formatted);

  new Chart(issue_grouped_line_data, issue_grouped_line_data_formatted);

  new Chart(permit_type_canvas, permit_type_pie_data_formatted);

  new Chart(permit_status_canvas, permit_status_pie_data_formatted);
  
</script>
 

</html>
