<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camionetas</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div id="admin-dash">

      <%- include('../partials/_leftbar') %>

        <main id="main-admin">

          <header class="section-header">
            <section class="breadcrumb">
              <a href="/backoffice/truck">
                <small>Camionetas</small>
              </a>
              <span class="breadcrumb-slash">/</span>
              <a href="/backoffice/truck/<%= truckId %>/incidents">
                <small>Incidentes</small>
              </a>
              <span class="breadcrumb-slash">/</span>
              <a href="/backoffice/truck/">
                <small>
                  <%= truckId %>
                </small>
              </a>
            </section>

            <button id="new-client" class="button primary"
              onclick="window.location.href='/backoffice/truck/<%= truckId %>/incident/new'">Nuevo incidente</button>
          </header>

          <section id="client-list">
            <table class="table">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Fecha de inicio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < incidents.length; i++) { %>
                  <tr>
                    <td>
                      <%= incidents[i].description %>
                    </td>
                    <td>
                      <%= incidents[i].startDate %>
                    </td>
                    <td style="text-align: right;" id="truck_actions">
                      <form
                        action="/backoffice/truck/<%= incidents[i].truckId %>/incident/<%= incidents[i].id %>?_method=DELETE"
                        method="post">
                        <input type="text" value="<%= incidents[i].id %>" name="id" hidden>
                        <button class="button" type="submit">Resolver</button>
                      </form>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </section>
        </main>
    </div>
  </body>

  </html>
