<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camionetas</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/truck">
            <small>Camionetas</small>
          </a>
          <span class="breadcrumb-slash">/</span>
        </section>

        <button id="new-client" class="button primary" onclick="window.location.href='/backoffice/truck/new'">Nueva camioneta</button>
      </header>

      <section id="client-list">
        <table class="table">
          <thead>
              <tr>
                  <th>Placas</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < trucks.length; i++) { %>
              <tr>
                <td><%= trucks[i].plate %></td>
                <td><%= trucks[i].model %></td>
                <td><%= trucks[i].brand %></td>
                <td style="text-align: right;" id="truck_actions">
                  <button class="button warning"
                  onclick="window.location.href='/backoffice/truck/<%= trucks[i].id %>/incidents'"
                >Incidencias</button>
                  <button class="button primary"
                    onclick="window.location.href='/backoffice/truck/<%= trucks[i].id %>/update'"
                  >Actualizar</button>
                  <form action="/backoffice/client/<%= trucks[i].id %>?_method=DELETE" method="post">
                    <input type="text" value="<%= trucks[i].id %>" name="id" hidden>
                    <button class="button danger" type="submit">Eliminar</button>
                  </form> 
                </td>
            </tr>
            <% } %>
          </tbody>
      </table>
      </section>
    </main>
  </div>
</body>
</html>

</body>
</html>
