<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>

    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/truck">
            <small>Camionetas</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/truck/<%= truckData.id %>/update">
            <small>Actualizar</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/truck/<%= truckData.id %>?_method=PUT" method="post" id="update-truck-form">
          <input type="text" hidden value="<%= truckData.id %>" name="id">
          
          <label for="plate">Placas:</label>
          <input type="text" id="plate" name="plate" value="<%= truckData.plate %>" class="input" required>
          
          <label for="model">Modelo:</label>
          <input type="text" name="model" id="model" value="<%= truckData.model %>" class="input" required>
          
          <label for="brand">Marca:</label>
          <input type="text" name="brand" id="brand" value="<%= truckData.brand %>" class="input" required>
          <button type="submit" class="button primary">Actualizar camioneta</button>
        </form>
      </section>
    </main>
  </div>

  <script>
    document.getElementById('update-truck-form').addEventListener('submit', function(event) {
      event.preventDefault();

      swal({
        title: '¿Estás seguro?',
        text: 'Estás a punto de actualizar los datos de esta camioneta. ¿Deseas continuar?',
        buttons: true,
        dangerMode: true,
      }).then((accepted) => {
        if (accepted) {
          this.submit();
        }
      });
    });
  </script>
</body>
</html>
