<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/client">
            <small>Clientes</small>
          </a>
          <span class="breadcrumb-slash">/</span>
        </section>

        <button id="new-client" class="button primary" onclick="window.location.href='/backoffice/client/new'">Nuevo cliente</button>
      </header>

      <section id="client-list">
        <table class="table">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Direccion</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < clients.length; i++) { %>
              <tr>
                <td><%= clients[i].name %></td>
                <td><%= clients[i].address %></td>
                <td style="text-align: right;" id="actions">
                  <button class="button primary"
                    onclick="window.location.href='/backoffice/client/<%= clients[i].id %>/update'">Actualizar</button>
                  <form action="/backoffice/client/<%= clients[i].id %>?_method=DELETE" method="post" class="delete-form">
                    <input type="text" value="<%= clients[i].id %>" name="id" hidden>
                    <button class="button danger" type="submit">Eliminar</button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </main>
  </div>

  <script>
    const deleteForms = document.querySelectorAll('.delete-form');

    deleteForms.forEach(form => {
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        swal({
          title: '¿Estás seguro?',
          text: 'Estás a punto de eliminar a este cliente. Esta acción no puede deshacerse.',
          buttons: true,
          dangerMode: true,
        }).then((accepted) => {
          if (accepted) {
            form.submit();
          }
        });
      });
    });
  </script>

</body>
</html>
