<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>

    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/client">
            <small>Clientes</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/client/<%= clientData.id %>/update">
            <small>Actualizar</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form id="update-client-form" action="/backoffice/client/<%= clientData.id %>?_method=PUT" method="post">
          <input type="text" hidden id="id" name="id" value="<%= clientData.id %>">
          <label for="name">Nombre:</label>
          <input type="text" name="name" id="name" value="<%= clientData.name %>" class="input" required>
          <label for="address">Dirección:</label>
          <input type="text" name="address" id="address" value="<%= clientData.address %>" class="input" required>
          <button type="submit" class="button primary">Actualizar cliente</button>
        </form>
      </section>
    </main>
  </div>


  <script>
    document.getElementById('update-client-form').addEventListener('submit', function(event) {
      event.preventDefault();

      // Mostrar alerta de confirmación
      swal({
        title: '¿Estás seguro?',
        text: 'Estás a punto de actualizar los datos de este cliente. ¿Deseas continuar?',
        buttons: true,
        dangerMode: true,
      }).then((accepted) => {
        if (accepted) {
          this.submit();
        }
      });
    });
  </script>

</body>
</html>
