<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/task">
            <small>Kanban general</small>
          </a>
          <span class="breadcrumb-slash">/</span>
        </section>

        <button id="new-client" class="button primary" onclick="window.location.href='/backoffice/task/new'">Asignar tarea</button>
      </header>

      <div class="overview-attendance"
          style="justify-content: flex-start; margin-top: 20px; width: 98%; background: none; box-shadow: none;">
          <div class="attendance-data"
            style="width: 230px; background-color: white; height: 120px; border-radius: 8px;">
            <p>Tareas asignadas</p>
            <p class="attendance-data-number">
              <%= overview.asignedCount %>
            </p>
          </div>
          <div class="attendance-data"
            style="width: 230px; background-color: white; height: 120px; border-radius: 8px;">
            <p>Tareas en progreso</p>
            <p class="attendance-data-number">
              <%= overview.inProgressCount %>
            </p>
          </div>
          <div class="attendance-data"
            style="width: 230px; background-color: white; height: 120px; border-radius: 8px;">
            <p>Tareas terminadas</p>
            <p class="attendance-data-number">
              <%= overview.finishedCount %>
            </p>
          </div>
          <div class="attendance-data"
            style="width: 230px; background-color: white; height: 120px; border-radius: 8px;">
            <p>Tareas vencidas</p>
            <p class="attendance-data-number">
              <%= overview.dueCount %>
            </p>
          </div>
        </div>

      <section id="tasks-filter">
        <form action="/backoffice/task" method="get">
          <input type="month" name="filter" class="input" required>
          <button type="submit" class="button primary">Filtro</button>
        </form>
      </section>

      <div style="width: 95%;">
        <p style="font-size: 12px;">Mostrando Kanban de <%= month %> / <%= yearToFilter %> </p>
      </div>

      <section id="admin-tasks">
        <div class="task-list">
          <div class="task-title">
            <small>Tareas asignadas</small>
          </div>

          <div class="tasks">
            <% assignedTasks.forEach(task => { 
              const formattedDate = new Date(task.dueTo).toLocaleString('es-MX', {
                day: '2-digit', month: '2-digit', year: 'numeric', 
                hour: '2-digit', minute: '2-digit'
              });
            %>
              <div class="task">
                <header>
                  <div class="task-tags" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
                    <% if(task.isPoint) {%>
                      <small class="tag">Punto de ruta</small>
                    <% } %>
                    <small class="tag"> <%= task.department.name %> </small>
                  </div>
                  <p><%= task.title %></p>
                  <small>Fecha de termino: <%= formattedDate %></small>
                </header>
                <footer>
                  <small class="footer-task">
                    <%= task.userAssigned.firstName %>
                    <%= task.userAssigned.lastName %>
                  </small>
                  <button class="button primary" onclick="window.location.href='/backoffice/task/<%= task.id %>/update'">Actualizar tarea</button>
                </footer>
              </div>
            <% }) %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas en progreso</small>
          </div>

          <div class="tasks">
            <% inProgressTasks.forEach(task => { 
              const formattedDate = new Date(task.dueTo).toLocaleString('es-MX', {
                day: '2-digit', month: '2-digit', year: 'numeric', 
                hour: '2-digit', minute: '2-digit'
              });
            %>
              <div class="task">
                <header>
                  <div class="task-tags" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
                    <% if(task.isPoint) {%>
                      <small class="tag">Punto de ruta</small>
                    <% } %>
                    <small class="tag"> <%= task.department.name %> </small>
                  </div>
                  <p><%= task.title %></p>
                  <small>Fecha de termino: <%= formattedDate %></small>
                </header>
                <footer>
                  <small class="footer-task">
                    <%= task.userAssigned.firstName %>
                    <%= task.userAssigned.lastName %>
                  </small>
                  <button class="button primary" onclick="window.location.href='/backoffice/task/<%= task.id %>/update'">Actualizar tarea</button>
                </footer>
              </div>
            <% }) %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas concluidas</small>
          </div>

          <div class="tasks">
            <% completedTasks.forEach(task => { 
              const formattedDate = new Date(task.dueTo).toLocaleString('es-MX', {
                day: '2-digit', month: '2-digit', year: 'numeric', 
                hour: '2-digit', minute: '2-digit'
              });
            %>
              <div class="task">
                <header>
                  <div class="task-tags" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
                    <% if(task.isPoint) {%>
                      <small class="tag">Punto de ruta</small>
                    <% } %>
                    <small class="tag"> <%= task.department.name %> </small>
                  </div>
                  <p><%= task.title %></p>
                  <small>Fecha de termino: <%= formattedDate %></small>
                </header>
                <footer>
                  <small class="footer-task">
                    <%= task.userAssigned.firstName %>
                    <%= task.userAssigned.lastName %>
                  </small>
                  <button class="button primary" onclick="window.location.href='/backoffice/task/<%= task.id %>/update'">Actualizar tarea</button>
                </footer>
              </div>
            <% }) %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas vencidas</small>
          </div>

          <div class="tasks">
            <% overdueTasks.forEach(task => { 
              const formattedDate = new Date(task.dueTo).toLocaleString('es-MX', {
                day: '2-digit', month: '2-digit', year: 'numeric', 
                hour: '2-digit', minute: '2-digit'
              });
            %>
              <div class="task">
                <header>
                  <div class="task-tags" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
                    <% if(task.isPoint) {%>
                      <small class="tag">Punto de ruta</small>
                    <% } %>
                    <small class="tag"> <%= task.department.name %> </small>
                  </div>
                  <p><%= task.title %></p>
                  <small>Fecha de termino: <%= formattedDate %></small>
                </header>
                <footer>
                  <small class="footer-task">
                    <%= task.userAssigned.firstName %>
                    <%= task.userAssigned.lastName %>
                  </small>
                  <button class="button primary" onclick="window.location.href='/backoffice/task/<%= task.id %>/update'">Actualizar tarea</button>
                </footer>
              </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
